{% extends "base.html" %}

{% block content %}
<main class="mt-5">
    <div class="container mynav">
            {% if validlink %}
            <p>Ange (och bekräfta) ditt nya lösenord.</p>
            <form action="" method="post">
            {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">Nytt lösenord:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Bekräfta lösenord:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Ändra mitt lösenord" /></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h1>Återställningen av lösenordet misslyckades</h1>
            <p>Länken för återställning av lösenord var ogiltig, möjligen för att den redan har använts. Be om en ny lösenordsåterställning.</p>
        {% endif %}
    </div>
</main>
{% endblock content %}