{% extends "base.html" %}

{% block content %}
<main class="mt-5">
    <div class="container mynav " style="margin: 400px;font-size:larger; ">
            <p>Vi har skickat instruktioner för hur du ställer in ditt lösenord via e-post. Om de inte har kommit på några minuter, kolla din skräppostmapp.</p>

</div>
</main>
<style>
body,html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #7abecc !important;
            color: rgb(252, 252, 252);
            font-weight: 100px;
		}
</style>
{% endblock content %}