{% extends "base.html" %}

{% block content %}
<main  class="mt-5">
    <div class="container mynav">
            <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <h1>Ändra lösenord</h1>
                    </div>
                    <div class="signin">
                        <form method="post" class="form">
                            {% csrf_token %}
                            {{form}}

                                <input type="submit" class="btn btn-primary" value="Ändra lösenord">

                        </form> 
                    </div>
                </div>
    </div>
</main>

{% endblock content %}